/* RESET CSS */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html {
  font-family: "Open Sans", serif;
  font-size: 0.625rem;
  scroll-behavior: smooth;
}

body {
  font-size: 1rem;
  /* font-size: 62.5%; */
  height: 100%;
  line-height: 1;
  overflow-x: hidden;
}

button {
  cursor: pointer;
  background-color: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}

.container {
  width: min(90%, 1336px); /* parent size 100% width */
  margin: 0 auto;
  padding: 0 15px;
}

/**========================*/
/*! CAROUSEL-SECTION */
/**========================*/

.section-carousel {
  background: radial-gradient(
    121.01% 70.71% at 50% 50%,
    #797474 0%,
    #000 91.5%
  );
}

.carousel-box {
  width: 100%;
  height: 580px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;

  /* max-width: 1336px; */
  /* min-width: 720px; */
  /* margin: 100px auto; */
  /* overflow: hidden; */
}

.carousel-box::-webkit-scrollbar {
  display: none;
}

/*? carousel-list */

.carousel-container {
  padding: 90px 0;
}
.carousel-title {
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-size: 48px;

  color: #fff;
  text-align: center;

  margin-bottom: 60px;
}

.carousel-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  gap: 60px;
  /* width: 100%; */
  width: max-content;
  padding-left: calc(50% - 720px / 2);
  margin: 0 auto;
}

.carousel-item {
  overflow: hidden;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
  scroll-snap-align: center;

  /* width: 720px; */
  flex: 0 0 760px;
  height: 520px;
  border-radius: 20px;
  margin: 0 auto;
  scroll-snap-align: center;

  padding: 50px 0;
  transition: 0.5s;
  box-shadow: 14px 14px 8px 0px rgba(0, 0, 0, 0.25);
}

/*? active for li element */

.red-item {
  position: relative;
  background: radial-gradient(
    72.38% 52.58% at 56.11% 50%,
    #ba193a 0%,
    #39060f 100%
  );
}

.green-item {
  background: radial-gradient(
    51.75% 51.56% at 58.96% 50%,
    #518c8e 0%,
    #1f3c3d 100%
  );
}

.blue-item {
  background: radial-gradient(
    55.51% 54.16% at 58.96% 50%,
    #3a60ba 0%,
    #1b2336 100%
  );
}

.red-item:after {
  content: "Best value";

  position: absolute;
  top: 11%;
  right: -6%;

  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;

  background-color: #ffd43d;
  padding: 0.8rem 8rem;
  transform: rotate(45deg);
}

.carousel-img {
  display: block;
  width: 300px;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.green-img {
  display: block;
  width: 360.448px;
  height: 100%;
  object-fit: cover;
}

.blue-img {
  display: block;
  width: 370px;
  height: 100%;
  /* object-fit: cover; */
}

.carousel-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  height: 100%;
  margin-right: 60px;
}

.card-title {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 52px;

  color: #fff;
  letter-spacing: 1.20px;

  margin-bottom: 40px;
  text-align: right;
}

.card-text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;

  color: #fff;
  text-align: right;
  line-height: normal;
  letter-spacing: 0.54px;

  /* margin: 0 75px 30px 0; */
}

.price {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 52px;

  color: #fff;
  text-align: right;
  letter-spacing: 1.56px;

  margin-top: 30px;
}

.price i {
  width: 42px;
  height: 45px;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.carousel-btt {
  border-radius: 50px;
  background-color: #fff;

  font-family: "Open Sans";
  font-weight: 600;
  font-size: 16px;

  color: #333;
  letter-spacing: 0.28px;
  text-transform: uppercase;

  padding: 14px 56px;
  margin-top: 25px;
}

/*? ARROWS  */

.arrow-right {
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;

  margin-top: 60px;
}

.icon-container svg {
  cursor: pointer;
}

.arrow-right {
  transform: rotate(180deg);
}
/* 
@media screen and (max-width: 1024px) {
  .carousel-list > li {
    width: calc(100vw - 90px);
  }
} */
