/* RESET CSS */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html {
  font-family: "Open Sans", serif;
  font-size: 0.625rem;
  scroll-behavior: smooth;
}

body {
  font-size: 1rem;
  /* font-size: 62.5%; */
  height: 100%;
  line-height: 1;
}

button {
  cursor: pointer;
  background-color: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}

.container {
  width: min(90%, 1336px); /* parent size 100% width */
  margin: 0 auto;
  padding: 0 15px;
}

/**========================*/
/*! CAROUSEL-SECTION */
/**========================*/

.section-carousel {
  background: radial-gradient(
    121.01% 70.71% at 50% 50%,
    #797474 0%,
    #000 91.5%
  );
}

.carousel-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*? carousel-list */
.carousel-container {
  padding: 90px 0;
}
.carousel-title {
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-size: 48px;

  color: #fff;
  text-align: center;

  margin-bottom: 60px;
}

.carousel-list {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
}

.carousel-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-red {
  position: relative;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 720px;
  height: 520px;
  border-radius: 20px;
  background: radial-gradient(
    72.38% 52.58% at 56.11% 50%,
    #ba193a 0%,
    #39060f 100%
  );

  padding: 50px 0;
}

.carousel-red:after {
  content: "Best value";

  position: absolute;
  top: 11%;
  right: -7%;

  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;

  background-color: #ffd43d;
  padding: 0.8rem 8rem;
  transform: rotate(45deg);
}

.carousel-img {
  width: 300px;
  height: auto;
}

.carousel-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  height: 100%;
}

.card-title {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 52px;

  color: #fff;
  letter-spacing: 1.56px;

  margin-bottom: 40px;
  text-align: left;
}

.card-text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;

  color: #fff;
  text-align: right;
  line-height: normal;
  letter-spacing: 0.54px;

  margin: 0 75px 30px 0;
}

.price {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 52px;

  color: #fff;
  text-align: right;
  letter-spacing: 1.56px;

  margin-right: 75px;
}

.price i {
  width: 42px;
  height: 45px;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.carouse-btt {
  width: 174.295px;
  height: 41.67px;

  border-radius: 50px;
  background-color: #fff;

  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;

  color: #333;
  letter-spacing: 0.28px;

  margin-top: 25px;
}

/*? ARROWS  */

.arrow-right {
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 460px;
  margin-top: 60px;
}

.icon-container svg {
  cursor: pointer;
}

.arrow-right {
  transform: rotate(180deg);
}
